.body_backgorund 
{
    background-image:url(https://img.freepik.com/vector-gratis/feliz-cumpleanos-concepto_23-2148484501.jpg?w=2000);
    background-position:center;
    background-size:cover;
    background-img width: 500px;
    background-img heigth: 700px;
}
#myCanvas
{
   
}

